* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
}

header .img-header {
  height: 575px;
  width: 100%;
  background-image: url("img/troopers.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #000;
  padding-top: 25px;
  overflow: hidden;
  height: 100%;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 70%;
  height: 50%;
  flex-direction: row;
}

.navbar li {
  flex: 3;
}

.navbar li a {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  background-color: #000;
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li a:hover {
  color: #000;

  background-color: #fff;
}

a.toggleNavbar {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  display: none;
  align-self: flex-end;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-left: 25px;
}

a.toggleNavbar:hover {
  transform: scale(1.2);
}

.navbar ul.show {
  display: flex;
  height: 100%;
  flex-direction: column;
}

@media all and (max-width: 820px) {
  .navbar li {
    flex: 1 1 100%;
  }
}

@media all and (max-width: 637px) {
  .navbar {
    padding-top: 0;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
  .navbar ul {
    flex-wrap: wrap;
    display: none;
    flex-direction: column;
  }

  .navbar li {
    flex: 1 1 100%;
  }

  a.toggleNavbar {
    display: block;
    align-self: flex-start;
  }

  .navbar li a {
    transition: all 0.7s ease-in-out;
  }
}

.ShortReview {
  background-color: rgb(7, 7, 7);
  /* background-image: url(https://wallpapercave.com/wp/wp2539068.jpg); */
  padding: 10px;
  color: white;
  width: 100%;
  height: 300px;
  display: flex;
  text-align: center;
  flex-direction:column;
  justify-content :space-around;
}
.ShortReview h1 .Galactic-Empire {
text-decoration: line-through ;
border-bottom:dotted red 4px ;
}
.ShortReview h1 .Agency{
  font-size: 38px;
  text-decoration: underline;

}
.FULL-REVIEW {
  background-color: rgb(23, 25, 25);
  padding: 120px 20px;
  color: white;
  width: 100%;
  display: flex;
  text-align:center;
  flex-direction:column ;

}
.FULL-REVIEW .About-Us{
text-decoration: underline;
font-style: italic;
}

footer {
  background-color: rgb(48, 46, 46);
  padding: 30px 20px;
  text-align: center;
  color: white;

}
footer i {
  margin: 20px 20px;
  font-size: 25px;

}
footer i:hover {
  color: #000;
}


.container .users-info {
  display: flex;
  flex-direction: column;
  padding:25px 20px;
  justify-content: center;
  align-items: center;
  width:100%;
  position: relative;
  z-index: 3;
}

.userInfoBg{
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:url("./img/troopersbg.png");
  background-repeat: no-repeat;
  background-position: 50% 230%;
  opacity: 0.15;
}

.container .users-info h1{
  font-size: 60px;
  text-shadow: 4px 3px 6px black;
  font-style: italic;
  text-decoration: underline;
}


.rotate-pic{
  animation-name:someAnim;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes someAnim{
  0%{transform:rotate(0deg);}
  25%{transform:rotate(90deg);}
  50%{transform:rotate(180deg);}
  75%{transform:rotate(270deg);}
  100%{transform:rotate(360deg);}
}

.container .users-info .user {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.container .users-info .user h3 {
  text-align: center;
  margin-top: 2px;
}

.users-info .user p {
  width: 70%;
  font-size:25px;
}

.users-info .user p span{
  background-color: rgba(250,250,250,1);
  line-height: 40px;
  padding:5px 4px;
  
}

.users-info .user img {
  border-radius: 50%;
}

.container .user {
  padding: 30px 0;
}

.contact-form {
  padding-top:60px;
  padding-bottom: 90px;
  height:670px;
  text-align: center;
}

.contact-form h2{
    font-size:40px;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}

.contact-form form input[type=submit]{
    font-size:23px;
    color:green;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    width:100px;
    transition-property: all;
    transition-duration: 0.8s;
}


.contact-form form input[type=submit]:hover{
    background-color: green;
    color:white;
}

.contact-form h2 {
  font-weight: bold;
  font-family: sans-serif;
}

.contact-form input {
  margin: 5px;
  font-weight: bold;
}

.contact-form input[type="checkbox"]{
    cursor: pointer;
}



@media all and (max-width:638px){
    
     .container .users-info .user{
        flex-direction: column;
    }
    .contact-form h2{
      font-size: 30px;
    }
}

@media all and (max-width:357px){
  .contact-form{
    padding-bottom:30px;
  }
  .contact-form form{
    justify-content: space-between;
  }
  .contact-form form input[type="submit"]{
    font-size: 15px;
  }
  .contact-form h2{
    font-size: 20px;
  }
}