* {
    box-sizing: border-box;
  }

  #ShortReview{
    background-color: rgb(7, 7, 7);
    /* background-image: url(https://wallpapercave.com/wp/wp2539068.jpg); */
    padding: 10px;
    text-align: center;
    color: white;
  }
  .FULL-REVIEW{
    background-color: rgb(23, 25, 25);
    /* background-image: url(https://wallpapercave.com/wp/wp2539068.jpg); */
    padding: 10px;
    text-align: center;
    color: white;
  }
footer {
    background-color: rgb(48, 46, 46);
    padding: 10px;
    text-align: center;
    color: white;
  }


.container{
    width:80%;
    margin:auto;
}

.container .users-info{
    display: flex;
    flex-direction: column;
}

.container .users-info .user{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.container .users-info .user h3{
    text-align: center;
    margin-top: 2px;
}

.contact-form{
    padding: 8px;
}

.contact-form h2{
    font-weight: bold;
    font-style: oblique;
}

.contact-form input{
    margin:5px;
    font-weight: bold;
}



